.form{
    height: 100%;
}

.inside-form{
    justify-content: flex-end;
}

.words-inside-form{
    align-items: center;
    padding: 2.5%;
    line-height: 4;
    border-top: 2px solid orange;
    border-bottom: 2px solid orange;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 18px;
    margin-bottom: 5%;
}

input{
    padding: 15px;
    margin-top: 10px;
}

select{
    padding: 15px;
    padding-left: 240px;
}

.comments{
    padding: 100px;
    line-height: 200%;
}

.contactus-wrapper{
    background-image: url(../../assets/images/taro-ball.jpg);
    background-size: cover;
    height: 1000px;
    position: relative;
}