
.cart-preview-wrapper{
    border: solid 1px orange;
    padding: 34px;
    padding-right: 80px;
    position: absolute;
    background-color: white;
    left: -35%;
    top: 108%;
    z-index: 1;    
}

.cart-preview{
    text-align: center;
    font-weight: bold;
    position: relative;
    top: -17px;
    padding-left: 46px;
}

.button-wrapper{
    position: absolute;
    bottom: 0%;
    display: flex;
}

.checkout-button{
    background: orange;
    border-radius: 10px;
    border: orange;
    padding: 4px;

}


.checkout {
    padding-right: 25px;
}

