
.cart-preview-wrapper{
    border: solid 1px orange;
    padding: 50px;
    padding-right: 80px;
    position: absolute;
    background-color: white;
    left: -35%;
    top: 108%;
}

.cart-preview{
    text-align: center;
    font-weight: bold;
}

.button-wrapper{
    position: absolute;
    bottom: 0%;
    display: flex;
}

.checkout-button{
    margin: 10px;
    float: left;
}