.comments{
    min-height:200px;
    min-width: 325px;
}

.form {
    opacity: .8;
    background: black;
    width: 400px;
    padding: 1em;
    margin: auto;
}

.style-inputs input{
height: 22px;
 width: 324px;
}