.comments{
    min-height:200px;
    min-width: 325px;
}

.form {
    position: relative;
    left: 37%;
    opacity: .8;
    background: black;
    width: 400px;
    padding: 1em;

}

.style-inputs input{
height: 22px;
 width: 324px;
}