body {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center; 
    flex: 1;
}

.clear-picture{
  background: transparent;
}

.big-picture {
  height: auto;
  width: 100%;
}

.picture-with-bowl{
  background: url(../../assets/images/mango.jpg) 100% 75%;
  background-repeat: no-repeat;
  background-size: 100% 207%;
  height: 60em;
  color: white;
  font-size: 30 px;
}

.clickableAwesomeFont {
  cursor: pointer;
}

.items-container {
  display: flex;
  margin-left: 5%;
  padding-bottom: 2%;
  align-content: center;
  
}
