

body {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center; 
    flex: 1;
    background-size: cover;
}

.big-picture {
  height: auto;
  width: 100%;
}

.picture-with-bowl{
  background-repeat: no-repeat;
  background-size: 100% 207%;
  height: 18em;
  color: white;
  font-size: 25px;
  padding-top: 150px;
}

.clickableAwesomeFont {
  cursor: pointer;
}

.items-container {
  display: flex;
  margin-left: 5%;
  padding-bottom: 2%;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1134px;
  margin: 0 auto;
  justify-content: center;
}


.employee-wrapping{
  background-color: white;
}

.whole-shabang{
  background: url(../../assets/images/mangoRevised.jpg) 100% 75%;
}

.for-employees ul{
  padding-left: 0;
}
ul{
  padding-inline-start: 0px;
}

.food-img{
      height: 213px;
      width: 250px;
}

.homepage-column-with-img-and-ul{
  display: flex;
}

h3{
  font-size: 24px;
}

.employees-img{
  width: 203px;
}

.input-3{
  position: relative;
  top: -10px;
}

.p-of-picture-with-bowl {
  background-color: black;
  opacity: .7;
  min-height: 200px;
  width: 80%;
  margin: auto;
}

.items-container:nth-child(4){
  
}

.orderhere-wholeform{
 background-image: url(../../assets/images/photo.jpeg);
 opacity: .9;
}


.column-wrapper-home{
    display: grid;
    position: relative;
    grid-row-gap: 17px;
    margin-left: 5%;
    margin-right: 5%;
    grid-column-gap: 50px ;
  @media screen and (min-width: 1224px){
  grid-template-columns: 1fr 1fr 1fr;
  }
  @media screen and (max-width: 320px){
  grid-template-columns: 1fr;
  margin-left: 10%;
  margin-right: 10%;
  }
}
