body {
    margin: 0;
    padding: 0;
    border: 0;
}

.big-picture {
  min-width: 100%;
  z-index: 0;
}

.clickableAwesomeFont {
  cursor: pointer;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 60px;
  padding: 15%;
  padding-top: 2%;
  padding-bottom: 2%;
}
