.heading-wrapper {
  background-color: transparent;
  height: 50;
  width: 100%;
  position: relative;
  padding-top: 6%;

}
.heading-wrapper-clear{
  background-color: transparent;
  height: 50;
  border: 1px solid transparent;
  width: 100%;
  position: absolute;
  padding-top: 10%;
}
body {
  background-color: #FFFFFF;

}

.logo {
  position: absolute;
  left: 0;
  width: 25%;
  top: -10px;
  padding-top: 10px;
  
}

.bar-wrapper {
  position: absolute;
  right: 0;
  float: right;
  top: 30px;
  padding-right: 3%;
}

.website-link {
 padding: 5px;
 color: black;
 float: left;
}

.website-link:nth-of-type(4) {
  margin-top: -5px;
}

a{
    color: black;
    text-decoration: none;
}

.cart-button{
  margin-top: -0px;
}

