.ul-links{
    background-color: white;
    display: flex;
    justify-content: center;
}

.food-and-more{
    padding-left: 0;
}

.toggle-button{
    text-align: center;
    width: 150px;
    height: 50px;
}

