.ul-links{
    background-color: transparent;
    display: flex;
    column-count: 1fr;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    
}
.ul-links2{
    background-color: white;
}

.food-and-more{
    text-align: center;
    padding-left: 102px;

}

.h4-cart{
    position: relative;
    left: 35px;
    width: 400px;
    height: 70px;
}

.toggle-button{
    text-align: center;
    width: 150px;
    height: 50px;
}

.form-payment{
    position: relative;
    display: flex;
    width: 0px;
    height: 150px;
    text-align: center;
    left: 16%;
}

.maths{
    position: relative;
    left: 72%;
}

.checkout-container{
    background-image: url(../../assets/images/image8.jpg);
    height: 1250px;
    background-color: transparent;
}

body{
    height:1250px;
}

.line{
    width: 230px
}

.line2{
    width: 40px;
}