.wraps-picture-and-words{
    display: flex;
    flex-direction: row;
}

h4{
    font-size: 30px;
}

.About-Us-Picture{
    width: 100%;
}

.div-wrapping-all-3-pics{
    display: flex;
    padding: 0;
}

ul{
  list-style: none;
}

.pic1{
  width: 565px;
  max-width: 100%;
  height: auto;
}

.container-pic{
  position: relative;
  font-family: Arial;
}

.text-block{
  position: absolute;
  top: 35%;
  right: 40%;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
}