.heading-wrapper {
  // display: flex;
}

.logo{
    // padding-right: 90%;
}

.bar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
//   align-content:flex-end;
  height: 100%;
  padding: 20px;
  right: 05 em;
//   justify-content: flex-end;

}

.json-wrapper {
  display: flex;
  flex-direction: column wrap;
}

.website-link {
  padding-left: 10%;
}

.big-picture{
max-width: 100%;    
}

.clickableAwesomeFont{
  cursor: pointer;
}