.heading-wrapper{
    display: flex;
}

.bar-wrapper{
    display: flex;
    justify-content: flex-end;
}

.json-wrapper{
    display: flex;
    flex-direction: column wrap;
}

.website-link{
    padding-left: 10%;
}