.mini-image{
    width: 100px;
    height: 100px;
}

.previewItem-wrapper{
    display: flex;
    flex-direction: 'row';
}

.food-wrapper{
    position: absolute;
    left: 70%;
    align-content: center;
    margin-top: 35px;
}